table.table-striped > thead > tr > th {
  border-bottom-color: #ffb633 !important;
}

.card {
  height: 95vh;
}

.card-title {
  font-family: "Lucida Handwriting", "Gill Sans", "Gill Sans MT", "Calibri",
    "Trebuchet MS", sans-serif;
  color: #ffb633;
}

.trow {
  border-top: hidden;
  color: #ffb633;
}

.profile-img {
  border-radius: 50%;
  object-fit: cover;
}

table.table-striped > tbody > tr > td {
  white-space: nowrap;
}
